@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bellota&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400&display=swap');

body{background-color: #ec447c;
     color: #ffffff ;
    background-image: url(../imagenes/Pasta\ Pattern.jfif);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: auto;}

.verde{background-color: #fa8cbf;}

h1{ font-size: 4vw;
    background-color: #ec447c; padding: 2vw;
    border-radius: 25px;
    color: #ffffff; 
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;}

h2{  font-size: 3vw; 
    background-color: #ffffff;
    color: rgb(236, 68, 124);
    text-decoration: none;
    font-family: "Bellota", system-ui;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    letter-spacing: 3px;}

img{ width: 30vw;
     display: block; }

iframe{
    display: block;
    margin: auto;
    width: 30vw;}

li{ font-family: "Bellota", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #ec447c;
    text-align: center; 
    font-size: 4vh;}

 .logos{
    width: 5vw;
    height: auto;}

.whatsapp{
    position: fixed; bottom: 10px; right: 20px ;
    width: 6vh;
    height: auto;}

.receta{
    font-size: 2vw;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    color: #ec447c;
    background: #ffffff;
    padding: 0px 30px 0px 30px;
    text-align: center;}
.receta:link{
    text-decoration: none;}
.receta:hover{
    transform: scale(1.15);
    background-color: #fa8cbf;
    color: #ffffff;}
.receta:active{
    transform: scale(0.95);}

p{  
    font-size: 2vh;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    color: #ec447c;
    background: #ffffff;
    text-align: center;}

footer{
    background-color: #ec447c95;
    border: 4px solid #ec447c;
    border-radius: 30px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;}
  
.caja-footer2{
    display: flex;
    justify-content: space-between;
    border: 8px solid #ec447c;}
.caja-footer3{
    font-size: 4vh
}
    

.otras-recetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 3vw;
    padding-right: 3vw;}

.header-logo{
    width: 14vw;
    height: auto;
    display: flex;
    align-items: left;
    border-radius: 25%;}

header{
    background-color: #ec447c95;
    border: 4px solid #ec447c;
    border-radius: 30px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;}

.header-box3 {
    display: flex;
    flex-wrap: wrap;
    border: 10px solid #ec447c;
    ;}

nav{background-color: #ec447c;
    border-radius: 30px;
    padding: 10px 0px 20px 0px;
    margin: 30px;}

section{
    background-color: #ec447c95;
    border: 4px solid #ec447c;
    border-radius: 30px;}

aside{
    display: flex;
    flex-wrap: nowrap;
    margin: 5% 2%;}

.contactos{
    background-color: #ec447c;
    border-radius: 30px;
    padding: 10px 30px 20px 0px;
    margin: 30px;
    font-size: 2.1vw;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    color: #ec447c;
    background: #ffffff;
    padding: 0px 30px 0px 30px;
    text-align: center;}
    .contactos:link{
        text-decoration: none;}
    .contactos:hover{
        transform: scale(1.50);
        background-color: #ec447c;
        color: #ffffff;}
    .contactos:active{
        transform: scale(0.95);}

.home {
    background-color: #ec447c;
    border-radius: 30px;
    padding: 10px 30px 20px 0px;
    margin: 30px;
    font-size: 2.1vw;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    color: #ec447c;
    background: #ffffff;
    padding: 0px 30px 0px 30px;
    text-align: center;}
    .home:link{
        text-decoration: none;}
    .home:hover{
        transform: scale(1.50);
        background-color: #ec447c;
        color: #ffffff;}
    .home:active{
        transform: scale(0.95);}