@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bellota&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400&display=swap');

body{background-color: #ec447c;
     color: #ffffff ;
    background-image: url(../imagenes/Pasta\ Pattern.jfif);
    background-attachment: fixed;}

.verde{background-color: #fa8cbf;}

h1{ font-size: 80px;
    background-color: #ffffff;
    color: #ec447c;
    text-decoration: underline; 
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;}

h2{ font-size: 60px; 
    background-color: #ffffff;
    color: #ec447c;
    text-decoration: underline;
    font-family: "Bellota", system-ui;
    font-weight: 700;
    font-style: normal;
    text-align: center;}

img{ width: 50%;
     height: auto;
     display: block; 
     margin: 0 auto;}

iframe{display: block;margin: auto;}


li{ font-family: "Bellota", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #ec447c;
    text-align: center; 
    font-size: 26px;}


  
  

  
